.gig-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 55rem;
  margin: 1rem;
}

.info-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gig-card button {
  width: 8.5rem;
  margin: 0 0.5rem;
}

.date-container,
.venue-container,
.button-container {
  margin: 1rem 1.5rem;
  max-width: 19rem;
}

.more-info {
  text-align: center;
  max-width: 45rem;
}