.blog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem 0 1rem;
  transition: 0.25s;
}

.blog-container img {
  border-radius: 2rem;
  width: 25rem;
  margin-right: 1.5rem;
  transition: 0.25s;
}

.posts-container {
  border: 1px solid black; /* will delete, to outline container as placeholder */
  height: 25rem;
  width: 40rem;
  overflow: scroll;
}