.main-navigation {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  margin: -0.5rem -0.5rem 1rem -0.5rem;
  padding: 0.5rem 1.25rem;
}

.chris-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chris-name {
  font-size: 2.35rem;
  margin-top: 0;
  margin-bottom: 0;
}

.chris-bio {
  margin-top: 0;
}

.links-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.links {
  font-size: 1.6rem;
  font-weight: 700;
  margin: 0 0.5rem 1rem 0.5rem;
}

.links a {
  margin-left: 1.5rem;
}

.inactive {
  color: white;
  text-decoration: none;
  transition: 0.25s;
}

.homeactive,
.home:hover {
  color: #ff0558;
  text-decoration: none;
  text-shadow: 
      1.5px 0.5px 0.25px #d92668,
      2px 1px 0.25px #670eb8;
}

.aboutactive,
.about:hover {
  color: #f9672b;
  text-decoration: none;
    text-shadow: 
      1.5px 0.5px 0 #d92668, 
      2px 1px 0 #670eb8;
}

.liveactive,
.live:hover {
  color: #fdd913;
  text-decoration: none;
   text-shadow: 
      1.5px 0.5px 0 #ff0558, 
      2px 1px 0 #670eb8;
}

.musicactive,
.music:hover {
  color: #01dbc5;
  text-decoration: none;
  text-shadow: 
      1.5px 0.5px 0 #f1185c, 
      2px 1px 0 #670eb8;
}

.blargactive,
.blarg:hover {
  color: #03a1c3;
  text-decoration: none;
  text-shadow: 
      1.5px 0.5px 0 #d92668, 
      2px 1px 0 #670eb8;
}

.icons img {
  height: 1.6rem;
  margin: 0 0.5rem;
  opacity: 0.75;
  transition: 0.25s;
}

.icons img:hover {
  background-color: #670eb8;
  border-radius: 50% 20% / 10% 20%;
  cursor: pointer;
  opacity: 1;
  transition: 0.25s;
}